---
import LazyImage from '../LazyImage.astro';

interface Props {
  product: {
    id: string;
    image: string;
    alt: string;
    link: string;
  };
  index: number;
  total: number;
}

const { product, index, total } = Astro.props;
---

<div 
  class="orbital-product" 
  style={`--index: ${index}; --total: ${total};`}
>
  <a href={product.link} class="product-link">
    <LazyImage 
      src={product.image} 
      alt={product.alt} 
      class="product-image" 
      width="150" 
      height="200"
    />
  </a>
</div>
